version: "3"
services:
  graph-node:
    image: graphprotocol/graph-node:v0.41.0
    user: "1000:1000"
    ports:
      - "8000:8000"   # GraphQL HTTP server
      - "8001:8001"   # GraphQL WebSocket server  
      - "8020:8020"   # JSON-RPC admin server
      - "8030:8030"   # Subgraph indexing status server
      - "8040:8040"   # Metrics server
    depends_on:
      - ipfs
      - postgres
    environment:
      postgres_host: postgres
      postgres_user: graph-node
      postgres_pass: let-me-in
      postgres_db: graph-node
      ipfs: "ipfs:5001"
      ethereum: "zircuit:https://mainnet.zircuit.com"
      GRAPH_LOG: info
  ipfs:
    image: ipfs/kubo:v0.28.0
    user: "1000:1000"
    ports:
      - "5001:5001"
    volumes:
      - ./data/ipfs:/data/ipfs
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    command:
      [
        "postgres",
        "-cshared_preload_libraries=pg_stat_statements",
        "-cmax_connections=200",
      ]
    environment:
      POSTGRES_USER: graph-node
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: graph-node
      PGDATA: "/var/lib/postgresql/data"
      POSTGRES_INITDB_ARGS: "-E UTF8 --locale=C"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
